/* Add CSS Styling */
.odd-number {
    color: rgb(0, 0, 0);
    background-color: rgb(247, 177, 177);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 89, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(197, 247, 197);
    font-size: 24px;
    font-weight: 700;
}

.odd-number.third {
    font-size: 24px;
}