/* Add CSS Styling */

.button-one,
.button-two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-one{
    color: rgb(250, 250, 250);
    background-color: rgb(0, 0, 0);
}

.button-two{
    background-color: rgb(248, 235, 119);
}